{% extends 'GeniusDesignDesktopPanelBundle::layout.html.twig' %}
{#% form_theme form 'MeritooBackendCmsBundle:Form:fields.html.twig' %#}

{% block content %}
    <div id="loginFormContainer">
        <form action="{{ path('genius_login_check') }}" method="post">

            {{ form_widget(form) }}

            <div class="">
                <input type="submit" id="submit" name="submit" value="Zaloguj" />
            </div>
        </form>
    </div>
{% endblock %}