{% extends 'GeniusDesignBackendBundle::layout.html.twig' %}

{% block content %}
    {% set parameters = {'languageCode': languageCode} %}
    {% set routeName = 'genius_simple_user_add' %}

    {% if not isAddsSimpleUser %}
        {% set parameters = parameters | merge({'userId': user.getId()}) %}
        {% set routeName = 'genius_simple_user_edit' %}
    {% endif %}

    <form method="post" action="{{ path(routeName, parameters) }}">
        {{ form_widget(form) }}

        <div class="form-navigation">
            <div class="submit-button"> {# contentsubmitButton #}
                <input type="submit" id="go" name="go" value="Zapisz" />
            </div>

            <div class="">
                <a class="link cancel" href="{{ path('genius_simple_user_list', {'languageCode': languageCode}) }}">Anuluj</a>
            </div>
        </div>
    </form>
{% endblock %}