html,
body{
    color: #2b2b2b;
    line-height: 15px;
    margin: 0;
    padding: 0;
}

html,
body,
textarea{
    font-family: Arial;
    font-size: 12px;
}

textarea{
    line-height: 16px;
}

p{
    margin: 10px 0;
}

ul{
    /*list-style-type: none;
    list-style: disc;*/
    padding-left: 20px;
}

ul li{
    margin: 5px 0;
}

a,
.list td.actions a{
    color: #db6e00;
    text-decoration: none;
}

.clear{
    clear: both;
}

/* -------- div body ----------*/

.body{
    margin: 0 auto;
    width: 1100px;
}

/* -------- div status ----------*/

#status-bar-container{
    height: 25px;
}
#status-bar-container #status-bar{
    float: right;
    width: auto;
}
#status-bar-container #status-bar .item{
    float: right;
    padding: 5px 0 5px 15px;
}
/* -------- div header ----------*/

.header{
    background: #b1a69c;
    border: 1px solid gray;
    clear: both;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px 0;
    text-align: left;
}

.header,
.main .menu{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* -------- div main ----------*/

.main{
    float: left;
    width: 1100px;
}
.main .menu{
    background: #c9edc3;
    border: 1px solid gray;
    float: left;
    min-height: 300px;
    margin: 0 0 10px 0;
    width: 200px;
}
.main .menu li{
    list-style-type: none;
}
.main .content{
    float: left;
    width: 888px;
    padding: 0 0 0 10px;
}
.main .content .flash-notice,
.main .content .flash-error{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;
    float: left;
    margin-bottom: 10px;
    padding: 10px 0;
    width: 100%;
}
.main .content .flash-notice div,
.main .content .flash-error div{
    background-repeat: no-repeat;
    background-position: 20px 50%;
    clear: both;
    font-weight: bold;
    float: left;
    padding-left: 50px;
    margin: 2px 0;
}
.main .content .flash-notice{
    border: 1px solid #4F7747;
    background: #fcf9db; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcf9db 1%, #ecf9ac 51%, #cbe589 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcf9db), color-stop(51%,#ecf9ac), color-stop(100%,#cbe589)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcf9db 1%,#ecf9ac 51%,#cbe589 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcf9db 1%,#ecf9ac 51%,#cbe589 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcf9db 1%,#ecf9ac 51%,#cbe589 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcf9db 1%,#ecf9ac 51%,#cbe589 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf9db', endColorstr='#cbe589',GradientType=0 ); /* IE6-9 */
    color: #4F7747;
}
.main .content .flash-error{
    border: 1px solid #724444;
    background: #ffd6d6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffd6d6 0%, #ffafaf 51%, #d87f7f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd6d6), color-stop(51%,#ffafaf), color-stop(100%,#d87f7f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffd6d6 0%,#ffafaf 51%,#d87f7f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffd6d6 0%,#ffafaf 51%,#d87f7f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffd6d6 0%,#ffafaf 51%,#d87f7f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffd6d6 0%,#ffafaf 51%,#d87f7f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd6d6', endColorstr='#d87f7f',GradientType=0 ); /* IE6-9 */
    color: #724444;
}
.main .content .flash-notice div{
    background-image: url('/bundles/geniusdesigncommon/img/icons/tick-circle.png');
}
.main .content .flash-error div{
    background-image: url('/bundles/geniusdesigncommon/img/icons/exclamation-red.png');
}
.main .content .options-box{
    clear: both;
    float: left;
    padding: 5px 0 10px 0;
    width: 100%;
}
.main .content .link{
    background-repeat: no-repeat;
    background-position: 0 50%;
    float: right;
    margin: 0 8px;
    padding-left: 23px;
}
.main .content .delete{
    background-image: url('/bundles/geniusdesigncommon/img/icons/cross-circle.png');
}
.main .content .edit{
    background-image: url('/bundles/geniusdesigncommon/img/icons/pencil.png');
}
.main .content .edit-description{
    background-image: url('/bundles/geniusdesigncommon/img/icons/balloon--pencil.png');
}
.main .content .toggle{
    background-image: url('/bundles/geniusdesigncommon/img/icons/arrow-retweet.png');
}
.main .content .add{
    background-image: url('/bundles/geniusdesigncommon/img/icons/plus-button.png');
}
.main .content .cancel{
    background-image: url('/bundles/geniusdesigncommon/img/icons/arrow-return-180-left.png');
}
.main .content .save{
    background-image: url('/bundles/geniusdesigncommon/img/icons/disk-black.png');
}
.main .content .inbox-image{
    background-image: url('/bundles/geniusdesigncommon/img/icons/inbox-image.png');
}
.main .content textarea{
    height: 150px;
    width: 860px;
}
.main .content .list{
    width: 100%;
    border: 0;
}
.main .content .list th{
    background: #afafaf;
    padding: 5px;
    text-align: left;
}

#languages-buttons li.current{
    font-weight: bold;
}

.menu-left-bar li.current{
    font-weight: bold;
}


.main .content .gallery-box{
	float: left;
	margin-bottom: 10px;
	padding: 10px;
}
.main .content .gallery-box .image{
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    1px 1px 10px rgba(0, 0, 0, 0.6);
	box-shadow:         1px 1px 10px rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0 15px 10px 0;
	padding: 2px;
	text-align: center;
	width: 150px;
}
.main .content .gallery-box .image img{
	max-width: 150px;
	max-height: 115px;
}
.main .content .gallery-box a:hover{
	color: #6a3838;
}
.main .content .gallery-box .title,
.main .content .gallery-box .description,
.main .content .gallery-box .autor{
	display: block;
	margin: 0 0 8px 0;
}
.main .content .gallery-box .title{
	color: #3f0404;
	font-size: 13px;
	font-weight: bold;
}
.main .content .gallery-box .description{
	color: #6d6d6d;
}
.main .content .gallery-box .autor{
	color: #acacac;
	display: inline;
	width: auto;
}
.main .content .images{
	float: left;
}
.main .content .images .box{
	float: left;
	height: 100px;
	margin: 10px;
	text-align: center;
	width: 100px;
}
.main .content .images .box img{
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.5);
	max-height: 100px;
	max-width: 100px;
	padding: 2px;
}