html,
body{
    color: #2b2b2b;
    line-height: 15px;
    margin: 0;
    padding: 0;
    text-shadow: #fff 0px 1px 0px;
}

html,
body,
textarea{
    font-family: Arial;
    font-size: 12px;
}

/* Style used by modal pop-up window when title is used / displayed */
body.modal-open .title{
    font-weight: bold;
    margin-bottom: 5px;
}

textarea{
    line-height: 16px;
}

p{
    margin: 10px 0;
}

ul{
    list-style-type: none;
    /*list-style: disc;*/
    padding-left: 20px;
}

ul li{
    margin: 5px 0;
}

a,
.list td.actions a{
    color: #db6e00;
    text-decoration: none;
}


/* -------- div body ----------*/

.body{
    margin: 0 auto;
    width: 1100px;
}

/* -------- div status ----------*/

.status-bar-container{
    height: 25px;
}
.status-bar .item,
.status-bar .item-last{
    float: right;
    line-height: 25px;
    width: auto;
}

/* -------- div header ----------*/

.header{
    background: #b1a69c;
    border: 1px solid gray;
    clear: both;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px 0;
    text-align: left;
}

.header,
.main .menu{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* -------- div main ----------*/

.main{
    float: left;
    width: 1100px;
}
.main .menu{
    background: #c9edc3;
    border: 1px solid gray;
    float: left;
    min-height: 300px;
    margin: 0 0 10px 0;
    width: 200px;
}
.main .content{
    float: left;
    width: 888px;
    padding: 0 0 0 10px;
}
.main .content .options-box{
    clear: both;
    float: left;
    padding: 5px 0 10px 0;
    width: 100%;
}
.main .content .link{
    background-repeat: no-repeat;
    background-position: 0 50%;
    float: right;
    margin: 0 8px;
    padding-left: 23px;
}
.main .content .delete{
    background-image: url('/bundles/geniusdesigncommon/img/icons/cross-circle.png');
}
.main .content .edit{
    background-image: url('/bundles/geniusdesigncommon/img/icons/pencil.png');
}
.main .content .toggle{
    background-image: url('/bundles/geniusdesigncommon/img/icons/arrow-retweet.png');
}
.main .content .add{
    background-image: url('/bundles/geniusdesigncommon/img/icons/plus-button.png');
}
.main .content .cancel{
    background-image: url('/bundles/geniusdesigncommon/img/icons/arrow-return-180-left.png');
}
.main .content .save{
    background-image: url('/bundles/geniusdesigncommon/img/icons/disk-black.png');
}
.main .content textarea{
    height: 150px;
    width: 860px;
}
.main .content .list{
    width: 100%;
    border: 0;
}
.main .content .list th{
    background: #afafaf;
    padding: 5px;
    text-align: left;
}